*{
    box-sizing:border-box;
}

body{
    background:red;
    background-image: url(..images/trainpic.jpg);
    
   
}

#Title {
    text-align: center;
    font-style: ;
    color:red;
}

.display-4 {
    background-image: url(../images/flames.jfif);
    border-image-width:20px;
    padding-top:50px;
    padding-bottom:50px;
    color:lightgoldenrodyellow;
    text-align: center;
    margin-top:-20px;
    
}
.container{
    

}
.col {
    Color:black;
}
